.heading{
    color: red;
}
.img{
    width: 200px;
}
.Card{
    width: 200px;
    border: 3px solid Blue;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    background-color: lightcyan;
    text-align: center;
    margin: 15px;
}
.sname{
    color: blueviolet;
}