.heading{
    color: red;
} 
.imgStyle{
    width: 200px;
    height: 200px;
}
.product{
    color: green;
}
.Card{
    width: 200px;
    margin: 10px;
    border: 5px solid gray;
    box-shadow: 5px 5px 5px 0px gray;
    text-align: center;
    border-radius: 5px;
}
.Contanner{
    display: flex;
    flex-wrap:wrap;
}

